@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbit&family=Roboto:wght@300&display=swap');

/* Variables CSS */
:root {
    --primary-color: #094074;
    --secondary-color: #F7EF81;
    --accent1-color: #E88873;
    --accent2-color: #F8F8F8;

    --heading-font: 'Roboto', sans-serif; /* Fuente para encabezados */
    --paragraph-font: 'Nanum Gothic', sans-serif; /* Fuente para párrafos */

    --nav-background-color: #F8F8F8;
    --nav-link-color: #094074;
    --nav-hover-link-color: #3C8DDF;
    --nav-hover-background-color: #F8F8F8;
}

/* Estilo para el cuerpo del documento */
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto; /* Centra el contenido */
    padding: 20px;
}

/* Estilo para encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Estilo para la cabecera */
header {
    padding: 20px;
    background-color: var(--accent1-color);
}

/* Estilo para párrafos */
p {
    padding: 25px;
}

/* Estilo para la navegación */
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center; /* Centra los elementos de navegación */
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    transition: color 0.3s ease-in-out; /* Transición suave para el color */
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
